.btn-outline-primary{
  /* width: 70vw; */
  height: 80px;
  /* font-size: 1rem; */
}

@media (max-width:850px){
  .btn-outline-primary{
      width: 35vw;
  }
}

@media (max-width:375){
  .btn-outline-primary{
      width: 20vw;
  }
}

.generate-voucher{
  background-color: #8ac642;
  color: white;
  border: 1px solid white;
  /* position: relative;
  left: 15px; */
  font-size: 0.9rem;
}

.generate-voucher:hover{
  color: white;
  border: 1px solid #8AC642;
}

.generate-voucher:focus{
  border: 1px solid #8AC642;
}