.btn-outline-primary {
  /* width: 70vw; */
  height: 80px;
  background-color: #4b7bec;
  color: white;
  border: #4b7bec;
  /* font-size: 14px; */
}

.btn-outline-primary:hover {
  background-color: #5988f7;
  color: white;
}

/* .btn-outline-primary */

@media (max-width: 850px) {
  .btn-outline-primary {
    width: 35vw;
  }
}

.generate-voucher {
  background-color: #8ac642;
  color: white;
  border: 1px solid white;
  font-size: 0.9rem;
}

.generate-voucher:hover {
  color: white;
  border: 1px solid #8ac642;
}

.generate-voucher:focus {
  border: 1px solid #8ac642;
}
