/* AddStudents.css */  

.modalContent {  
  padding: 20px;  
  background: #fff;  
  border-radius: 8px;  
  max-width: 500px; /* Set maximum width */  
  max-height: 80vh; /* Set the maximum height */  
  overflow-y: auto; /* Allow scrolling if necessary */  
  margin: auto; /* Center the modal */  
  margin-top: 20px;
}

/* .addstdbtn{
  margin-right: 10px;
} */